<form>
  <div class="form-group">
    <label for="family_head">Cabeza de familia</label>
    <input type="text" id="family_head" name="family_head" [value]="(invitation | async)?.family_head">
  </div>
  <div class="form-group">
    <label for="email">Correo electrónico</label>
    <input type="text" id="email" name="email" [value]="(invitation | async)?.email">
  </div>
  <div class="form-group">
    <label for="phone">Teléfono celular</label>
    <input type="text" id="phone" name="phone" [value]="(invitation | async)?.phone">
  </div>
  <div class="form-group">
    <label for="address">Dirección</label>
    <input type="text" id="address" name="address" [value]="(invitation | async)?.address">
  </div>
  <div class="form-group">
    <label for="tower">Torre</label>
    <input type="text" id="tower" name="tower" [value]="(invitation | async)?.tower">
  </div>
  <div class="form-group">
    <label for="apartment">Apartamento</label>
    <input type="text" id="apartment" name="apartment" [value]="(invitation | async)?.apartment">
  </div>
  <div class="form-group">
    <label for="city">Ciudad</label>
    <input type="text" id="city" name="city" [value]="(invitation | async)?.city">
  </div>
  <div class="form-group">
    <label for="country">País</label>
    <input type="text" id="country" name="country" [value]="(invitation | async)?.country">
  </div>
  <div class="form-group">
    <label for="significant_other">Compañero sentimental</label>
    <input type="text" id="significant_other" name="significant_other" [value]="(invitation | async)?.significant_other">
  </div>
</form>
