<section id="home" class="cover height-100 imagebg text-center parallax" data-overlay="3">
  <div class="background-image-holder" style="background: url('assets/img/wedding-1.jpg'); opacity: 1;">
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="h1--large">
          Fonne &amp; Diana
        </h1>
        <p class="lead">
          Diciembre 08, 2017
        </p>
        <p class="lead">
          Tul&uacute;a - Valle del Cauca, Colombia
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<form [formGroup]="invitationForm" name="invitationForm">
  <section id="story" class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-8">
          <h2>Tu haces parte de esta gran celebración, nuestro matrimonio</h2>
          <p class="lead" *ngIf="moreThanOne; else elseBlock">
            Hola <strong>{{ head }}</strong>, queremos invitarte a ti y a <strong>{{ plusOne }}</strong>
            a que compartan con nosotros el momento m&aacute;s importante de nuestras vidas,
            en el cual ante Dios y ustedes, comenzaremos un camino unidos en matrimonio.
          </p>
          <ng-template #elseBlock>
            <p class="lead">
              Hola <strong>{{ head }}</strong>,
              queremos invitarte a que compartas con nosotros el momento m&aacute;s importante de nuestras vidas,
              en el cual ante Dios y todos los presentes, comenzaremos un camino unidos en matrimonio.
            </p>
          </ng-template>
          <h2 *ngIf="hasChildren">Te esperamos junto a tus hijos</h2>
          <ul *ngIf="hasChildren">
            <li *ngFor="let children of childrenForm; let i = index ; trackBy: trackByIndex" class="lead">
              <strong>{{ childrenForm[i] }}</strong>
            </li>
          </ul>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section id="map" class="height-80 text-center" >
      <div class="row">
        <div class="col-sm-6">
          <h2>
            Donde
          </h2>
        </div>
      </div>
      <agm-map [latitude]="cntLat" [longitude]="cntLng" [scrollwheel]="false" [zoom]="14">
        <agm-marker [latitude]="lat1" [longitude]="lng1">
          <agm-info-window #infoWindow isOpen="true">
            <strong>La recepci&oacute;n!!</strong>
          </agm-info-window>
        </agm-marker>
        <agm-marker [latitude]="lat2" [longitude]="lng2">
          <agm-info-window #infoWindow isOpen="true">
            <strong>La boda!!</strong>
          </agm-info-window>
        </agm-marker>
      </agm-map>
      <!--end of container-->
    </section>
  <section id="rsvp" class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-8">
          <h2>¡Dí que estarás allí!</h2>
          <p class="lead">
            Confirmanos tu asistencia, pero si van a ir menos cambia los campos
            para ser m&aacute;s precisos y mejorar tu experiencia.
          </p>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-5">
          <div class="col-xs-6 col-sm-6 text-center-xs marginBottom">
            <div class="input-radio">
              <label class="lead">Asistir</label>
              <input checked="checked" type="radio" name="rsvp" value="Attending" class="validate-required" formControlName="rsvp" />
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 text-center-xs marginBottom">
            <div class="input-radio">
              <label class="lead">No puedo ir</label>
              <input type="radio" name="rsvp" value="Not Attending" class="validate-required" formControlName="rsvp" />
            </div>
          </div>

          <div class="col-sm-12">
            <span class="lead">Tienes alguna pregunta? (O si alguno de tu familia no puede ir, cuentanos)</span>
          </div>
          <div class="col-sm-12">
            <textarea name="anwser" formControlName="comments" cols="30" rows="10" placeholder="Necesito me recoja en el aeropuerto..."></textarea>
          </div>
          <div class="col-sm-12 with-paddings">
            <button type="submit" class="btn btn--primary type--uppercase" (click)="saveRSVP(invitationForm.value)">Confirmar</button>
          </div>
          <div class="col-sm-12">
            <span class="lead">{{ successMessage }}</span>
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
</form>
<section id="reception" class="cover height-80 imagebg text-center parallax" data-overlay="3"
  style="background: url('assets/img/wedding-4.jpg'); opacity: 1; background-size: cover;">
  <div class="background-image-holder">
    <img alt="background" src="assets/img/wedding-4.jpg" />
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-sm-6 marginBottom">
        <h2>
          Ceremonia
        </h2>
        <p class="lead">
          Diciembre 08 2017 &bull; 3:30pm
          <br /> Capilla Madres Franciscanas
          <br /> Cl. 26 #26-2 a, Tuluá, Valle del Cauca
        </p>
        <a target="_blank" href="https://waze.com/ul?ll=4.083950,-76.193360">
          <img src="assets/img/waze.png" alt="waze" class="waze">
        </a>
        <a target="_blank" href="https://www.google.com.co/maps/place/Capilla+Mdres+Franciscanas+Y+Orfanato./@4.0838741,-76.1939125,291m/data=!3m2!1e3!4b1!4m13!1m7!3m6!1s0x8e39c5c4969b0dfd:0xc454cade2e39cb5c!2sCra.+32,+Tulu%C3%A1,+Valle+del+Cauca!3b1!8m2!3d4.086091!4d-76.1931944!3m4!1s0x8e39c5c5ac5011b1:0xc86effa1b1af024a!8m2!3d4.0838728!4d-76.1933653?hl=en">
          <img src="assets/img/google.png" alt="Google Maps" class="google">
        </a>
      </div>
      <div class="col-sm-6 marginBottom">
        <h2>
          Recepcion
        </h2>
        <p class="lead">
          Diciembre 08 2017 &bull; 4:30pm
          <br /> Parque Carlos Sarmiento Lora
          <br /> Tuluá, Valle del Cauca
        </p>
        <a target="_blank" href="https://waze.com/ul?ll=4.063102,-76.193843">
          <img src="assets/img/waze.png" alt="waze" class="waze">
        </a>
        <a target="_blank" href="https://www.google.com.co/maps/dir//Carlos+Sarmiento+Lora+Park,+Tulu%C3%A1,+Valle+del+Cauca/@4.0630967,-76.1960529,17z/data=!4m16!1m6!3m5!1s0x8e39c430f93c431d:0x1002bf590747cf3a!2sCarlos+Sarmiento+Lora+Park!8m2!3d4.0630967!4d-76.1938642!4m8!1m0!1m5!1m1!1s0x8e39c430f93c431d:0x1002bf590747cf3a!2m2!1d-76.1938642!2d4.0630967!3e2?hl=en">
          <img src="assets/img/google.png" alt="Google Maps" class="google">
        </a>
    </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
